{% extends "base.html" %}
{% block indice%} <li class="breadcrumb-item active"><a href="#">Agregar Producto</a></li>{%endblock%}

{% block contenido %}

<form action='/agregarP' method='POST'>  
<div class="login">
    <div class="container-fluid">
        <div class="row" id="fmregistroSup">
            <div class="col-lg-6" id="fmregistro">    
                <!--<div class="register-form">
                    <div class="row">
                        <div class="col-25">
                          <label for="fname">Buscar Codigo</label>
                        </div>
                            <div class="col-75">
                              <input type="text" id="lname" name="lastname" placeholder=" ">
                              <div class="col-76">
                                <input type="submit" value="Buscar">
                            </div>
                                                                
                            </div> -->
                            
                            
                        </div>
                        <div class="container">
                            
                            <div class="row">
                              <div class="col-25">
                                <label for="fname">Nombre del Producto</label>
                              </div>
                              <div class="col-75">
                                <input type="text" id="nom_prod" name="nom_prod" placeholder="Nombre...">
                              </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-25">
                                <label for="lname">Tipo de Producto</label>
                              </div>
                              <div class="col-75">
                                <input type="text" id="tipo_p" name="tipo_p" placeholder="Tipo...">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-25">
                                <label for="lname">Cantidad Producto</label>
                              </div>
                              <div class="col-75">
                                <input type="text" id="cantidad_p" name="cantidad_p" placeholder="Cantidad...">
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-25">
                                  <label for="lname">Cantidad Minima</label>
                                </div>
                                <div class="col-75">
                                  <input type="text" id="can_min" name="can_min" placeholder="Minima...">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-25">
                                  <label for="lname">Cantidad Maxima</label>
                                </div>
                                <div class="col-75">
                                  <input type="text" id="can_max" name="can_max" placeholder="Maxima...">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-25">
                                  <label for="fname">Precio de Venta</label>
                                </div>
                                <div class="col-75">
                                  <input type="text" id="pre_ven" name="pre_ven" placeholder="Precio...">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-25">
                                  <label for="fname">Calificación</label>
                                </div>
                                <div class="col-75">
                                    <select id="cal_pro" name="cal_pro">
                                        <option value=" "> </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                              </div>
                            
                            <div class="row">
                              <div class="col-25">
                                <label for="subject">Descripcion</label>
                              </div>
                              <div class="col-75">
                                <textarea id="descri" name="descri" placeholder=" " style="height:200px"></textarea>
                              </div>
                             
                            </div>
                            

                            <br>
                            <div class="col-md-12" id="btnenviar">
                              <button class="btn">Enviar</button>
                            </div>
                             <div class="col-md-12" id="btnenviar">
                                <button class="btn"><a href="/dash">Regresar</a></button>
                          </div>
                           
                          </div>
                        <div class="col-md-12">
                            {% for msg in get_flashed_messages() %}
                            <div class="col-md-12">{{ msg }}</div>
                            {% endfor %}  
                        </div>
                        
                        
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</form>


{% endblock %}