{% extends "base.html" %}
{% block indice%} <li class="breadcrumb-item active"><a href="#">Ingresar</a></li>{%endblock%}
{% block contenido %}


<!-- Login Start -->
       <form action='/login' method='POST'>  
        <div class="login">
            <div class="container-fluid">
                <div class="row" id="fmloginsup">
                    <div class="col-lg-6" id="fmlogin">    
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>E-mail</label><label class="requerido">*</label>
                                    <input class="form-control" type="text" placeholder="E-mail" ide="email" name="email">
                                </div>
                                <div class="col-md-12">
                                    <label>Contraseña</label><label class="requerido">*</label>
                                    <input class="form-control" id="contrasena" name="contrasena" type="password" placeholder="Contraseña" >
                                </div>
                                <div class="col-md-12">
                                    <p class="requerido">*Campo requerido</p>
                                </div>
                                <div class="col-md-12" id="btnenviar">
                                    <button class="btn">Enviar</button>
                                </div>
                                <div class="col-md-12">
                                    <p></p>
                                </div>
                                <div class="col-md-12" id="centertext" >
                                    <a href="" class="textLogin" >¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="col-md-12" >
                                    <p></p>
                                </div>
                                <div class="col-md-12" id="centertext">
                                    <a href="/registro" class="textLogin" >Registrarse</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       </form>          


{% endblock %}